.form-control, .form-select, .form-control-custom {
    font-family: 'Quicksand', sans-serif;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    border: 2px solid #f0f0f0 !important;
    background-color: #f8f9fa !important;
    transition: all 0.2s ease-in-out;
}

.form-control:focus, .form-select:focus {
    background-color: #ffffff !important;
    box-shadow: 0 0 0 4px rgba(255, 111, 97, 0.15) !important;
    outline: none;
}

.search-group-custom {
    border-radius: 50rem;
    overflow: hidden;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.upload-box { 
    border: 2px dashed #d1d1d1 !important; 
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    transition: 0.3s;
}

.edit-img-thumbnail {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
}