
.navbar-brand { 
    font-size: 1.4rem; 
    font-weight: 700; 
    color: var(--secondary-accent) !important;
}

.navbar-logo { 
    height: 40px; 
}

.nav-link {
    color: var(--secondary-accent) !important;
    font-weight: 600;
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
}

.nav-link:hover, 
.nav-link.active {
    color: var(--primary-accent) !important;
}

.dropdown-menu {
    border-radius: 15px;
    border: none;
    box-shadow: 0 10px 25px rgba(94, 67, 82, 0.1) !important;
    padding: 0.5rem;
}

.dropdown-item {
    color: var(--secondary-accent) !important; 
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s;
    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
}

.dropdown-item i {
    color: var(--primary-accent); 
    margin-right: 10px;
    font-size: 1.1rem;
}

.dropdown-item:hover {
    background-color: #fff5f4 !important; 
    color: var(--primary-accent) !important;
}

.nav-profile-img, 
.nav-profile-placeholder {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;
}

.navbar a {
    text-decoration: none !important;
}